$main-color: rgb(134, 193, 102);
$icon-color: rgb(189, 192, 186);

$default-font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB","Hiragino Sans GB W3", "Microsoft YaHei", "Wenquanyi Micro Hei", sans-serif !default;

$default-root-font-size: 18px;
